.head-part {
  background: rgba(0, 0, 0, 0.0001);
  margin-top: 25.5px;
}

.menu {
  width: 1280px;
  height: 78px;
  left: calc(50% - 1280px / 2);
  top: calc(50% - 1626px / 2);
  display: inline;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  margin-top: 25.5px;
  margin-bottom: 25.5px;
}

a {
  text-decoration: none;
  color: #ff0000;
}

.navbar {
  margin: 25.5px 330px 25.5px 330px;
  display: inline;
}

.home {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  display: flex;
  align-items: center;
  letter-spacing: 2.7px;
  text-transform: uppercase;
  color: #ff0000;
  display: inline;
  width: 68px;
  height: 27px;
  margin-right: 72px;
}

.photoapp {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  display: flex;
  align-items: center;
  letter-spacing: 2.7px;
  text-transform: uppercase;
  color: #ff0000;
  display: inline;
  width: 131px;
  height: 27px;
  margin-right: 72px;
}

.design {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  display: flex;
  align-items: center;
  letter-spacing: 2.7px;
  text-transform: uppercase;
  color: #ff0000;
  display: inline;
  width: 87px;
  height: 27px;
  margin-right: 50px;
}

.download {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  display: flex;
  align-items: center;
  letter-spacing: 2.7px;
  text-transform: uppercase;
  color: #ff0000;
  display: inline;
  width: 140px;
  height: 27px;
}

.image {
  width: 100%;
  height: 789px;
  left: 0px;
  right: 0px;
  top: 78px;
  margin-top: 25.5px;
}

.main-content {
  width: 1280px;
  height: 650px;
}

.content-title {
  width: 774px;
  height: 29px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  display: flex;
  align-items: flex-end;
  letter-spacing: 3.3px;
  text-transform: uppercase;
  color: #373737;
  margin: 48px 253px 38px 253px;
}

.content-text1 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 2.4px;
  color: #373737;
  margin: 38px 67.5px 28px 67.5px;
}

.content-text2 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 2.4px;
  color: #373737;
  margin: 28px 67.5px 66px 67.5px;
}

.button {
  width: 191px;
  height: 51px;
  left: 544.5px;
  top: 557px;
  background: #ff0000;
  border-radius: 4px;
  margin: 66px 544.5px 42px 544.5px;
}

.link {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 12px;
  display: flex;
  align-items: center;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  padding: 18px 43.5px 17px 42.5px;
}

.copyright {
  width: 462px;
  height: 39px;
  left: 608px;
  top: 0px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  letter-spacing: 2.4px;
  color: #373737;
  margin: 40px 105px 29px 713px;
}
